nav {
	position: absolute;
	top: 120px;
	left: 0;
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2px;
	/*allows to pick position of nav bar to top of the page */
}

#map-canvas { 
	height: 100%;
	width: 60%;
	position: absolute;
}

#slogan {
	margin-left: 60px;
	margin-top: -30px;
	display: block;
	font-size: 150%;
	font-style: italic;
}

h1 {
position: relative;
top: 0px;
width: 98px;
z-index: 1;


}

nav ol, nav ul{
	list-style: none;
	margin: 0;
	padding: .3em;
	/*removes the numbers next to the list items*/
}

nav li{
	float: left;
	margin-right: 10px; 
	/*changes to horizontal*/
}

nav li a {
	position: relative;
	left: 400px;
	display: block;
	color: black;
	margin-right: 100px;
	text-decoration: none;
	font-size: 25px;
	/*Further separates the links from one another and the top of browser*/
}

nav li a:hover {
	text-decoration: underline;
	/*gives a "rollover" effect for when a user's mouse is over the link*/
}


#listView{
	position: relative;
	top: 0px;
	left: 67%;
	-moz-border-radius: 15px;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	border: 1px solid black;
	display: block;
	width: 30%;
    background-color: #dbdbdb;
}

#listView ol > li{
	list-style: none;
	border: 4px solid black;
    border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
}

#listView ol > li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#listView ol > li a:hover{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

#userList li{
	float: left;
	margin-right: 30px;
	margin-top: -15px;
	
}

#badLogin{
	display: block;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

#signupResult{
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

#createAccount input{
	padding: 10px 10px 10px 10px;
	width: 300px;
}

input{
	padding: 5px 5px 5px 5px;
}

#signInHP{
width: 310px;
}

#signInHP input{
	padding: 10px 10px 10px 10px;
	width: 300px;
}

#singUpHP, #notloggedGarageReport{
width: 300px;
}

#userList li a{
	color: black;
	text-decoration: none;
	
}

#userList li a:hover{
	color: black;
	text-decoration: underline;
	
}

#userList{
	list-style: none;
}

#userOptions{
	position: absolute;
	top: 20px;
	left: 35%;
    text-align: center;
	display:none;


}

#frontpg{
	height: 1300px;
}





html{
	background-image: url(sos.png); 
	font-family: 'Cantarell', sans-serif;

}

#signIn {
	position: absolute;
	left: 500px;
	top: 30px;
	z-index: 1; 
	float: right;
	padding: 10px 10px 10px 10px;
	display:none;
}

#signIn a{
	color: black;
	text-decoration: none;
}
#signIn a:hover{
	color: black;
	text-decoration: underline;
}

.hpContent{

	margin-left: auto;
    margin-right: auto;
    border: solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5px;
   	margin-top: 50px;
    margin-bottom: 50px;
    background-color: #b9b9b9;
    
    


}

.hpContent a{
	color:black;
	text-decoration: none;
}
.hpContent a:hover{
	color:black;
	text-decoration: underline;
}

h2{

	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	background-color: #2a55d8;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: white;
}

a:hover img {
	border: 1px solid red;
}

a img {
	border: 1px solid black;
}





footer{
	font-size: x-small;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	margin-top: 80px;
}

iframe{
	
	border: 1px solid black;
}

footer a {

	color: black;
	text-decoration: none;
}

footer a:hover {

	color: black;
	text-decoration: underline;
}

/*Used button generator to help style the button http://www.bestcssbuttongenerator.com/ */
    .submit,#cSub {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
        box-shadow:inset 0px 1px 0px 0px #bee2f9;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
        background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
        background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
        background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
        background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
        background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
        
        background-color:#63b8ee;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #3866a3;
        
        display:inline-block;
        color:#14396a;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #7cacde;
        
    }
    .submit:hover,#cSub:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
        background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
        background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
        background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
        background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
        background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
        
        background-color:#468ccf;
    }
    .submit:active,#cSub:active {
        position:relative;
        top:1px;
    }

#full, #scarce, #some, #plenty, #empty{
	margin-left: 5px;
	margin-right: 30px;
}

#ratingGinInfo {
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
}

#submitRequest > input{
	display:block;
	width: 200px;
	margin: 10px 10px 10px 10px;


}

.editProfileInput {
    width: 300px;
    position: fixed;
    left: 180px;
    padding: 2px;
}

#garageImg {
	float: right;
	border: 2px solid;
}

.map_marker {
    font-size: 14px;
}

a.map_marker_link:link {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
a.map_marker_link:visited {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
a.map_marker_link:hover {
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}
a.map_marker_link:active {
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}

#garageList {
    position: relative;
    left: -5.5%;
}